body {
  font-family: sans-serif;
  padding: 20px;
  background: #f4f4f4;
}

h1 {
  text-align: center;
}

#formulario {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input, button {
  padding: 8px;
}

table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}
